/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
img {
    height: 100%;
}

/* General */

body {
    background-color: rgb(231, 231, 231);
}

/* Utlities */

.container {
    padding: 0 12vh;
    width: 100%;
}
  
.btn {
    padding: 14px 10px;
    border: none;
    border-radius: 10px;
}
  
.btn-blue {
    background-color: #2871cc;
    color: #fff;
    font-weight: bold;
    padding: 12px 22px;
    border-radius: 30px;
}

/* Nav Bar*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 2vh;
}
  
.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
  
.links > li {
    margin-right: 20px;
    cursor: pointer;
}

.links > li:last-child {
    margin-right: 0px;
}

/* Hero */

.hero {
    background: url("../images/slide9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
}

.hero-content {
    padding: 10vh 0 10vh 0;
    height: 90vh;
    backdrop-filter: grayscale(35%);
}
  
.hero-heading {
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    text-align: center;
    width: 50vw;
    font-family: 'Poppins', sans-serif;
}

/* Foundations */

.foundations-section {
    display: flex;
    justify-content: space-between;
    padding: 3vh 4vh;
}

.foundations-heading {
    margin: 6vh auto 3vh auto;
    text-align: center;
    width: 70vw;
}

.foundations-img {
    height: 10vh;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
}

.foundations-h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foundations-content {
    display: flex;
    flex-direction: column;
    width: 17vw;
    background-color: #fff;
    padding: 3vh 3vw;
    text-align: center;
    font-family: 'Crimson Text', sans-serif;
}